@model WebStoreHouse.Models.E_StoreHouseStock_BOS

@{ ViewBag.Title = "已銷單庫存轉出貨";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <h4>已銷單庫存轉出貨</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sno)

        <div class="form-group">
            <label class="control-label col-md-2">機種名稱</label>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.eng_sr)
                @Html.DisplayFor(model => model.eng_sr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eng_sr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">預計出貨數量</label>
            <div class="col-md-10">
                <input class="form-control" id="ship_quantity" name="ship_quantity" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" autocomplete="off" />
                @*@Html.EditorFor(model => model.ship_quantity, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ship_quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">出貨方式</label>
            <div class="col-md-10">
                @*<input class="form-control" id="transportation" name="transportation" autocomplete="off" />*@
                @Html.EditorFor(model => model.transportation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.transportation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">已銷單庫存量</label>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.quantity)
                @Html.DisplayFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">庫位</label>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.position)
                @Html.DisplayFor(model => model.position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
